@page
@using Microsoft.Extensions.Localization
@using Hwl.NewTheme.Localization
@using Hwl.NewTheme.Web.Pages.NewTheme
@model Hwl.NewTheme.Web.Pages.NewTheme.IndexModel
@inject IStringLocalizer<NewThemeResource> L

@{
}
<h1>NewTheme</h1>
<p>@L["SamplePageMessage"]</p>
